<button mat-icon-button mat-dialog-close class="dialog-close"><mat-icon>close</mat-icon></button>
<h2 mat-dialog-title>{{dialogHeading}}</h2>
<mat-dialog-content class="mat-typography browse-products">
    <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput [(ngModel)]="searchQuery" (keyup)="onSearch()" type="search" />
    </mat-form-field>

    <p *ngIf="dataCount === 0 && !loading">{{data.emptyMessage}}</p>
    <div class="products-list" *ngIf="dataCount > 0">
      <!--   -->
        <mat-selection-list [ngModel]="selectedData" [compareWith]="compareSelection" (selectionChange)="onSelection($event)" >
            <div class="product-wrapper" *ngFor="let dataA of dataArray">
                    <mat-list-option  [value]="dataA">
                        <span class="variant-title">{{dataA.title}}</span>
                    </mat-list-option>

            </div>
        </mat-selection-list>

        <div fxLayout="row" fxLayoutAlign="center">
            <button mat-stroked-button color="primary" class="load-more" *ngIf="dataArray.length < dataCount && !loading" (click)="loadMore()">Load more</button>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center">
        <mat-spinner *ngIf="loading" diameter="40"></mat-spinner>
    </div>
</mat-dialog-content>
<div mat-dialog-actions class="variant-selector-actions">
    <button mat-stroked-button color="primary" mat-dialog-close>Close</button>
    <button mat-flat-button color="primary" [disabled]="selectedData.length === 0" (click)="addItems()">Add</button>
    <span class="items-selected">{{selectedData.length}} items selected</span>
</div>
