<app-topbar></app-topbar>
<app-sidenav></app-sidenav>
<main id="main">
  <mat-progress-bar class="page-loader" color="accent" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  <div class="page-header" fxLayout="row" fxLayoutAlign="space-between center">
    <h1>Category structure</h1>
    
    <div class="header-actions">
      <a [routerLink]="['/', URLS.categories, URLS.newMainCategory]" mat-flat-button color="primary">Create new</a>
    </div>
  </div>
  
  <div class="page-container">
    <div
      id="categories-wrapper"
      cdkDropList
      (cdkDropListDropped)="mainCategorySort($event)"
    >

      <!-- Main Categories -->
      <ng-container *ngFor="let mainCategory of categories; let i = index">
        <mat-card class="category-title-wrapper" cdkDrag (click)="toggleMainCategory(i)">
          <span>
            <mat-icon class="cat-drag-handle" cdkDragHandle (mousedown)="mainCategoryDragStart(i)">drag_indicator</mat-icon>
            <span class="category-name">{{mainCategory.name}}</span>
          </span>

          <span>
            <span class="label" [class.success]="mainCategory.is_active">{{mainCategory.is_active ? "Available" : "Offline"}}</span>
            <button
              class="category-actions"
              mat-icon-button
              (click)="rowActionsToggle($event, mainCategory.id, mainCategory.is_active, 'main')"
              [matMenuTriggerFor]="categoryActionsMenu"><mat-icon>more_vert</mat-icon></button>
          </span>
        </mat-card>

        <div class="sub-categories" *ngIf="mainCategory.open">
          <mat-progress-bar color="accent" mode="indeterminate" *ngIf="mainCategory.loading"></mat-progress-bar>
          <p class="no-category" *ngIf="!mainCategory.loading && mainCategory.sub_category.length === 0">No sub categories found.</p>

          <div
            class="sub-categories-wrapper"
            cdkDropList
            (cdkDropListDropped)="subCategorySort($event, i)"
          >

            <!-- Sub Categories -->
            <ng-container *ngFor="let subCategory of mainCategory.sub_category; let j = index">
              <mat-card class="category-title-wrapper" cdkDrag (click)="toggleSubCategory(i, j)">
                <span>
                  <mat-icon class="cat-drag-handle" cdkDragHandle (mousedown)="subCategoryDragStart(i, j)">drag_indicator</mat-icon>
                  <span class="category-name">{{subCategory.name}}</span>
                </span>

                <span>
                  <span class="label" [class.success]="subCategory.is_active">{{subCategory.is_active ? "Available" : "Offline"}}</span>
                  <button
                    class="category-actions"
                    mat-icon-button
                    (click)="rowActionsToggle($event, subCategory.id, subCategory.is_active, 'sub')"
                    [matMenuTriggerFor]="categoryActionsMenu"><mat-icon>more_vert</mat-icon></button>
                </span>
              </mat-card>

              <div class="sub-categories" *ngIf="subCategory.open">
                <mat-progress-bar color="accent" mode="indeterminate" *ngIf="subCategory.loading"></mat-progress-bar>
                <p class="no-category" *ngIf="!subCategory.loading && subCategory.super_sub_category.length === 0">No super sub categories found.</p>

                <div
                  class="sub-categories-wrapper"
                  cdkDropList
                  (cdkDropListDropped)="superSubCategorySort($event, i, j)"
                >

                  <!-- Super sub categories -->
                  <ng-container *ngFor="let superSubCategory of subCategory.super_sub_category; let k = index">
                    <mat-card class="category-title-wrapper" cdkDrag>
                      <span>
                        <mat-icon class="cat-drag-handle" cdkDragHandle>drag_indicator</mat-icon>
                        <span class="category-name">{{superSubCategory.name}}</span>
                      </span>

                      <span>
                        <span class="label" [class.success]="superSubCategory.is_active">{{superSubCategory.is_active ? "Available" : "Offline"}}</span>
                        <button
                          class="category-actions"
                          mat-icon-button
                          (click)="rowActionsToggle($event, superSubCategory.id, superSubCategory.is_active, 'supersub')"
                          [matMenuTriggerFor]="categoryActionsMenu"><mat-icon>more_vert</mat-icon></button>
                      </span>
                    </mat-card>
                  </ng-container>

                  <a
                    mat-stroked-button
                    color="primary"
                    class="add-category-button"
                    [routerLink]="['/', URLS.categories, URLS.newSuperSubCategory, subCategory.id]">+ Add Super sub category</a>
                </div>
              </div>
            </ng-container>

            <a
              mat-stroked-button
              color="primary"
              class="add-category-button"
              [routerLink]="['/', URLS.categories, URLS.newSubCategory, mainCategory.id]">+ Add Sub category</a>
          </div>
        </div>
      </ng-container>

    </div>
  </div>
</main>

<mat-menu #categoryActionsMenu="matMenu">
  <ng-template matMenuContent>
      <ng-container *ngFor="let action of categoryActions">
          <button mat-menu-item (click)="onCategoryAction(action)">{{action}}</button>
      </ng-container>
  </ng-template>
</mat-menu>