<app-topbar></app-topbar>
<app-sidenav></app-sidenav>
<main id="main">
    <mat-progress-bar class="page-loader" color="accent" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    <div class="page-header" fxLayout="row" fxLayoutAlign="space-between center">
        <h1>Edit Order {{orderTitle}}</h1>

        <div class="header-actions">
            <a [routerLink]="['/', URLS.orders]" mat-stroked-button color="primary">Cancel</a>
            <button mat-stroked-button color="primary" [matMenuTriggerFor]="actionsMenu">More actions</button>
            <button mat-flat-button color="primary" (click)="onSubmit()">Save</button>
        </div>
    </div>

    <div fxLayout="row">
        <div fxFlex="0 1 60%">
            <mat-card class="order-details">
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <div>
                        <h3>Order details</h3>
                        <p class="order-number">Order No. {{orderNumber}}</p>
                    </div>
                    <div>
                        <button mat-stroked-button color="warn" (click)="onCancelOrder()" *ngIf="orderStatus !== 'Cancelled'">Cancel order</button>
                    </div>
                </div>

                <div class="order-lineitems">
                    <div class="lineitem-wrapper" *ngFor="let lineitem of lineitems;">
                        <div class="lineitem-productdata">
                            <img [src]="lineitem.image ? lineitem.image : '/assets/img/placeholder-image.png'" />
                            <div>
                                <span class="product-name">{{lineitem.product_title}}</span>
                                <span class="variant_info">{{lineitem.vendor}}<br>{{lineitem.variant_title !== "Default Title" ? lineitem.variant_title : ""}}</span>
                            </div>
                        </div>
                        <div class="lineitem-price-qty">
                            {{lineitem.price}} QAR x {{lineitem.quantity}}
                        </div>
                        <div class="lineitem-subtotal">
                            <span>{{lineitem.subtotal}} QAR</span>
                        </div>
                    </div>
                </div>
                <div class="fulfillent-status">
                    <div fxLayout="row" fxLayoutAlign="space-between">
                        <div>
                            <span class="label"
                                [class.success]="fulfillmentStatus === 'Fulfilled'"
                                [class.warning]="fulfillmentStatus === 'Partially Fulfilled'">{{fulfillmentStatus}}</span>
                        </div>
                        <div>
                            <button mat-flat-button color="primary" (click)="fulfillmentStatus = 'Fulfilled'" *ngIf="fulfillmentStatus !== 'Fulfilled'">Mark as Fulfilled</button>
                            <button mat-stroked-button color="primary" (click)="fulfillmentStatus = 'Unfulfilled'" *ngIf="fulfillmentStatus !== 'Unfulfilled'" style="margin-left: 10px">Mark as Unfulfilled</button>
                        </div>
                    </div>
                </div>
            </mat-card>

            <mat-card class="order-financial-details">
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <div>
                        <span>Subtotal</span>
                    </div>
                    <div>
                        <span>{{subTotal}} QAR</span>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <div>
                        <span>Shipping</span>
                    </div>
                    <div>
                        <span>{{totalShipping}} QAR</span>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between" class="lineitems-total-row">
                    <div>
                        <span>Total</span>
                    </div>
                    <div>
                        <span>{{grandTotal}} QAR</span>
                    </div>
                </div>
                <div class="payment-status">
                    <div fxLayout="row" fxLayoutAlign="space-between">
                        <div>
                            <span class="label"
                                [class.success]="paymentStatus === 'Paid'"
                                [class.warning]="paymentStatus === 'Partially Paid'">Payment: {{paymentStatus}}</span>
                        </div>
                        <div>
                            <button mat-flat-button color="primary" (click)="paymentStatus = 'Paid'" *ngIf="paymentStatus !== 'Paid'">Mark as Paid</button>
                            <button mat-stroked-button color="primary" (click)="paymentStatus = 'Pending'" *ngIf="!isPaid && paymentStatus !== 'Pending'">Mark as Pending</button>
                        </div>
                    </div>
                </div>
            </mat-card>

            <h2 style="margin-top: 20px">Child orders</h2>
            <mat-card class="table-wrapper-card">
                <datatable
                    [data]="childOrders"
                    [columns]="childOrderColumns"
                    (cellClick)="onCellClick($event)"
                ></datatable>
            </mat-card>
        </div>
        <div fxFlex="0 1 40%">
            <mat-card *ngIf="!isCancelled">
                <h3>Status</h3>

                <mat-form-field appearance="outline">
                    <mat-select [(ngModel)]="orderStatus">
                        <mat-option value="Open">Open</mat-option>
                        <mat-option value="Accepted">Accepted</mat-option>
                        <mat-option value="In Process">In Process</mat-option>
                        <mat-option value="Shipped">Shipped</mat-option>
                        <mat-option value="Partial Shipped">Partial Shipped</mat-option>
                        <mat-option value="Delivered">Delivered</mat-option>
                        <mat-option value="Returned">Returned</mat-option>
                        <mat-option value="Refunded">Refunded</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-card>

            <mat-card>
                <div class="card-section">
                    <h3>Customer detail</h3>

                    <a [routerLink]="['/', URLS.customers, URLS.edit, customer.id]" target="_blank">{{customer.name}}</a>
                </div>
                <div class="card-section">
                    <h3>Contact information</h3>

                    <p><a href="mailto: {{customer.email}}">{{customer.email}}</a></p>
                    <p>{{customer.phone}}</p>
                </div>
                <div class="card-section">
                    <div fxLayout="row" fxLayoutAlign="space-between">
                        <div>
                            <h3>Shipping Address</h3>
                        </div>
                        <div>
                            <button mat-button color="primary" (click)="onShippingAddress()">{{shippingAddress ? "Edit" : "Add address"}}</button>
                        </div>
                    </div>

                    <p *ngIf="!shippingAddress">No address assigned.</p>
                    <div *ngIf="shippingAddress">
                        <p>{{shippingAddress.first_name}} {{shippingAddress.last_name}}</p>
                        <p>{{shippingAddress.apartment ? shippingAddress.apartment + ", " : ""}}{{shippingAddress.address}}</p>
                        <p>{{shippingAddress.city}} {{shippingAddress.postal_code}}, {{shippingAddress.country}}</p>
                        <p>{{shippingAddress.phone}}</p>
                    </div>
                </div>
                <div class="card-section">
                    <div fxLayout="row" fxLayoutAlign="space-between">
                        <div>
                            <h3>Billing Address</h3>
                        </div>
                        <div>
                            <button mat-button color="primary" (click)="onBillingAddress()">{{billingAddress ? "Edit" : "Add address"}}</button>
                        </div>
                    </div>

                    <p *ngIf="!billingAddress">No address assigned.</p>
                    <div *ngIf="billingAddress">
                        <p>{{billingAddress.first_name}} {{billingAddress.last_name}}</p>
                        <p>{{billingAddress.apartment ? billingAddress.apartment + ", " : ""}}{{billingAddress.address}}</p>
                        <p>{{billingAddress.city}} {{billingAddress.postal_code}}, {{billingAddress.country}}</p>
                        <p>{{billingAddress.phone}}</p>
                    </div>
                </div>
            </mat-card>
            <mat-card>
                <h3>Notes</h3>

                <mat-form-field appearance="outline">
                    <textarea  rows="4" matInput placeholder="Add note" [(ngModel)]="notes"></textarea>
                </mat-form-field>
            </mat-card>

            <mat-card>
                <h3>Tags</h3>

                <tags-input [(value)]="tags"></tags-input>
            </mat-card>
        </div>
    </div>

    <mat-menu #actionsMenu="matMenu">
        <button mat-menu-item (click)="downloadInvoice()">Download invoice</button>
    </mat-menu>
</main>
