<button mat-icon-button mat-dialog-close class="dialog-close"><mat-icon>close</mat-icon></button>
<h2 mat-dialog-title>Change approval status</h2>
<mat-dialog-content class="mat-typography">
    <p>Add discount on {{data.products.length}} products:</p>

    <mat-form-field appearance="outline">
        <mat-label>Discount</mat-label>
        <mat-select>
            <mat-option value="23">Flat 25% off</mat-option>
            <mat-option value="12">Rs. 100 off</mat-option>
            <mat-option value="92">Pakistan Day sale</mat-option>
        </mat-select>
    </mat-form-field>

</mat-dialog-content>
<div mat-dialog-actions>
    <button mat-stroked-button color="primary" mat-dialog-close>Cancel</button>
    <button mat-flat-button color="primary">Apply</button>
</div>