<button mat-icon-button mat-dialog-close class="dialog-close"><mat-icon>close</mat-icon></button>
<h2 mat-dialog-title>Edit options</h2>
<mat-dialog-content class="mat-typography">
    <div *ngIf="!confirmingDelete">
        <table class="options-edit-table">
            <tbody>
                <tr *ngFor="let option of options; let i = index">
                    <td style="width: 100px">
                        <mat-form-field appearance="outline">
                            <mat-label>Name</mat-label>
                            <input matInput [(ngModel)]="option.name" required />
                            <mat-error *ngIf="option.name == ''">Enter a name for your option.</mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-chip-list *ngIf="!option.new">
                            <mat-chip
                                *ngFor="let value of option.values; let j = index;">
                                {{value}}
                                <mat-icon matChipRemove (click)="removeValue(i, j)" *ngIf="canRemoveValue()">close</mat-icon>
                            </mat-chip>
                        </mat-chip-list>

                        <mat-form-field appearance="outline" *ngIf="option.new">
                            <mat-label>Default value</mat-label>
                            <input matInput [(ngModel)]="option.values[0]" (change)="addNewOptionValue($event, i)" />
                        </mat-form-field>
                    </td>
                </tr>
            </tbody>
        </table>

        <button mat-stroked-button color="primary" *ngIf="options.length < 3" (click)="addOption()">+ Add option</button>
        <p class="form-error">{{formError}}</p>
    </div>
    <div *ngIf="confirmingDelete">
        <p>Are you sure? All these variants will be deleted:</p>
        <ul>
            <li *ngFor="let variant of deletedVariants">{{variant.title}}</li>
        </ul>
    </div>
</mat-dialog-content>
<div mat-dialog-actions>
    <button mat-stroked-button color="primary" mat-dialog-close>Cancel</button>
    <button mat-flat-button color="primary" (click)="saveOption()">Save</button>
</div>
