<button mat-icon-button mat-dialog-close class="dialog-close"><mat-icon>close</mat-icon></button>
<h2 mat-dialog-title>Change approval status</h2>
<mat-dialog-content class="mat-typography">
    <p>Change approval status of {{data.products.length}} products:</p>

    <mat-form-field appearance="outline">
        <mat-label>Approval status</mat-label>
        <mat-select [(ngModel)]="approvalStatus">
            <mat-option value="Approved">Approved</mat-option>
            <mat-option value="Disapproved">Disapproved</mat-option>
        </mat-select>
    </mat-form-field>

</mat-dialog-content>
<div mat-dialog-actions>
    <button mat-stroked-button color="primary" mat-dialog-close>Cancel</button>
    <button mat-flat-button color="primary" [disabled]="loading || !approvalStatus" (click)="onSubmit()">Update status</button>
</div>