<mat-card class="slide" *ngIf="navTitle" >
  <div fxLayout="row" fxLayoutAlign="space-between center">
      <!-- <mat-icon cdkDragHandle class="sort-handle">expand</mat-icon> -->
      <button mat-icon-button color="warn" >
          <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button color="primary" >Save</button>
  </div>
  <div fxLayout="row">
      <div fxFlex="1 0 50%">
          <h4>Edit Navigation</h4>
          <mat-form-field appearance="outline">
              <mat-label>Title</mat-label>
              <input matInput (onchange)="changeNavTitle()" [(ngModel)]="navTitle.title"  />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Link</mat-label>
            <input matInput  />
        </mat-form-field>
      </div>
  </div>
</mat-card>