.product-options-table {
    width: 100%;
    margin-top: 10px;
}
.product-variants-table-wrapper {
    overflow-x: auto;
}
.product-variants-table {
    width: 100%;
    padding-top: 10px;

    tbody {
        th, td {
            padding: 0 5px;
        }
    }
}
