<app-topbar></app-topbar>
<app-sidenav></app-sidenav>
<main id="main">
    <mat-progress-bar class="page-loader" color="accent" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    <div class="page-header" fxLayout="row" fxLayoutAlign="space-between center">
        <h1>Products</h1>

        <div class="header-actions">
            <button mat-button color="primary" [matMenuTriggerFor]="bulkActionsMenu" *ngIf="productSelection.selected.length">Bulk Actions <mat-icon>arrow_drop_down</mat-icon></button>
            <mat-menu #bulkActionsMenu="matMenu">
                <ng-template matMenuContent>
                    <button mat-menu-item (click)="bulkChangeStatus()">Change status</button>
                    <button mat-menu-item (click)="bulkChangeApproval()">Change approval status</button>
                    <button mat-menu-item (click)="bulkTags()">Add tags</button>
                    <button mat-menu-item (click)="bulkDeleteProduct()">Delete</button>
                </ng-template>
            </mat-menu>

            <button mat-button color="primary" (click)="exportProducts()">Export</button>
            <button mat-button color="primary" (click)="importProduct()">Import</button>
            <a [routerLink]="['/', URLS.products, URLS.add]" mat-flat-button color="primary">Create new</a>
        </div>
    </div>

    <mat-card class="table-wrapper-card">
        <datatable  [data]="products"
                  [columns]="displayedColumns"
                  [selectable]="true"
                  [(selection)]="productSelection"
                  [searchColumns]="searchColumns"
                  [rowActions]="rowActions"
                  [filters]="productFilters"
                  [searchable]="true"
                  [pagination]="true"
                  [count]="totalCount"
                  [itemsPerPage]="pageLimit"

                  (page)="onPageChange($event)"
                  (cellClick)="onCellClick($event)"
                  (rowAction)="onRowAction($event)"
                  (filter)="onFilter($event)"
                  (search)="onSearch($event)">
      </datatable>
    </mat-card>
</main>