<app-topbar></app-topbar>
<app-sidenav></app-sidenav>
<main id="main">
  <mat-progress-bar class="page-loader" color="accent" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  <div class="page-header" fxLayout="row" fxLayoutAlign="space-between center">
    <h1>Homepage</h1>

    <div class="header-actions">
      <button mat-flat-button color="primary" [disabled]="loading">Publish</button>
    </div>
  </div>

  <div class="homepage-wrapper" fxLayout="row">
    <div class="sections-list-wrapper" fxFlex="1 0 40%">

      <div class="sections-list">
        <mat-card
          class="section-name-wrapper"
          *ngFor="let section of homepage.sections; let i = index"
          [class.active]="activeSectionIndex === i"
          [class.mat-elevation-z3]="activeSectionIndex === i"
          (click)="setActiveSection(section, i)"
        >
          {{ section.title }}
        </mat-card>
      </div>
    </div>

    <div class="section-settings-wrapper" fxFlex="1 0 60%">
      <p class="no-section-text" *ngIf="!activeSection">Select a section from left to edit.</p>
      <ng-container *ngIf="activeSection">
        <ng-container *ngIf="activeSection.type === 'banner_slider'">
          <homepage-slider-section [data]="activeSection"></homepage-slider-section>
        </ng-container>

        <ng-container *ngIf="activeSection.type === 'categories_carousel'">
          <homepage-categories-carousel [data]="activeSection"></homepage-categories-carousel>
        </ng-container>

        <ng-container *ngIf="activeSection.type === 'brands_slider'">
          <homepage-brands [data]="activeSection"></homepage-brands>
        </ng-container>
      </ng-container>

    </div>
  </div>
</main>
