<app-topbar></app-topbar>
<app-sidenav></app-sidenav>
<main id="main">
  <mat-progress-bar class="page-loader" color="accent" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  <div class="page-header" fxLayout="row" fxLayoutAlign="space-between center">
    <h1>Homepage</h1>

    <div class="header-actions">
      <button mat-flat-button color="primary" [disabled]="loading" (click)="onPublish()">Publish</button>
    </div>
  </div>

  <div class="homepage-wrapper" fxLayout="row">
    <div class="sections-list-wrapper" fxFlex="1 0 40%">

      <div
        class="sections-list"
        cdkDropList
        (cdkDropListDropped)="sortChanged($event)"
      >
        <mat-card
          class="section-name-wrapper"
          cdkDrag
          *ngFor="let section of homepage.sections; let i = index"
          [class.active]="activeSectionIndex === i"
          [class.mat-elevation-z3]="activeSectionIndex === i"
          (click)="setActiveSection(section, i)"
        >
          <span><mat-icon cdkDragHandle>drag_indicator</mat-icon> {{ section.title }}</span>
          <button type="button" mat-icon-button color="warn" (click)="removeSection(i)"><mat-icon>delete</mat-icon></button>
        </mat-card>
      </div>

      <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 20px">
        <button mat-stroked-button color="primary" (click)="onAddSectionClick()">+ Add Section</button>
      </div>
    </div>

    <div class="section-settings-wrapper" fxFlex="1 0 60%">
      <p class="no-section-text" *ngIf="!activeSection">Select a section from left to edit.</p>
      <ng-container *ngIf="activeSection">
        <ng-container *ngIf="activeSection.type === 'banner_slider'">
          <homepagsectione-slider- [data]="activeSection"></homepagsectione-slider->
        </ng-container>

        <ng-container *ngIf="activeSection.type === 'categories_carousel'">
          <homepage-categories-carousel [data]="activeSection"></homepage-categories-carousel>
        </ng-container>

        <ng-container *ngIf="activeSection.type === 'brands_slider'">
          <homepage-brands [data]="activeSection"></homepage-brands>
        </ng-container>

        <ng-container *ngIf="activeSection.type === 'products_carousel'">
          <homepage-products-carousel [data]="activeSection"></homepage-products-carousel>
        </ng-container>

        <ng-container *ngIf="activeSection.type === 'single_banner'">
          <homepage-single-banner [data]="activeSection"></homepage-single-banner>
        </ng-container>

        <ng-container *ngIf="activeSection.type === 'categories_tabs'">
          <homepage-categories-tabs [data]="activeSection"></homepage-categories-tabs>
        </ng-container>

        <ng-container *ngIf="activeSection.type === 'two_banners'">
          <homepage-two-banners [data]="activeSection"></homepage-two-banners>
        </ng-container>

        <ng-container *ngIf="activeSection.type === 'features_icons'">
          <homepage-feature-icons [data]="activeSection"></homepage-feature-icons>
        </ng-container>
      </ng-container>
    </div>
  </div>
</main>
