.loyality-rules{
    padding-top: 20px;
}
.time-limit{
    padding-bottom: 20px;
}
.paid-order{
    padding-top: 15px;
}
.delete-button{
    margin-bottom: 11px;
}

.paid-order-rules{
    padding-bottom: 25px;
}

.line{
    border-bottom: 1px solid #ddd;
    margin: 10px -16px 15px -16px;
    padding: 0 16px;
}