<button mat-icon-button mat-dialog-close class="dialog-close"><mat-icon>close</mat-icon></button>
<h2 mat-dialog-title>Browse products</h2>
<mat-dialog-content class="mat-typography browse-products">
    <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput [(ngModel)]="searchQuery" (keyup)="onSearch()" type="search" />
    </mat-form-field>

    <p *ngIf="productsCount === 0 && !loading">No products found.</p>
    <div class="products-list" *ngIf="productsCount > 0">
        <mat-selection-list [(ngModel)]="selectedVariants" [compareWith]="compareSelection" (selectionChange)="onSelection($event)">
            <div class="product-wrapper" *ngFor="let product of products">
                <div class="product-data" fxLayout="row" fxLayoutAlign="start center">
                    <div>
                        <img class="product-image" [src]="product.image ? product.image : '/assets/img/placeholder-image.png'" />
                    </div>
                    <div>
                        <span class="product-title">{{product.title}} <br/>
                            <span class="product-vendor">{{product.vendor_name}}</span>
                        </span>
                    </div>
                </div>

                <div class="product-variants">
                    <mat-list-option *ngFor="let variant of product.variants" [value]="variant">
                        <span class="variant-title">{{variant.title === "Default Title" ? "Default variant" : variant.title}}</span>
                        <span class="variant-qty">{{variant.inventory_quantity}} available</span>
                        <span class="variant-price">{{variant.price}} {{store_currency}}</span>
                    </mat-list-option>
                </div>
            </div>
        </mat-selection-list>

        <div fxLayout="row" fxLayoutAlign="center">
            <button mat-stroked-button color="primary" class="load-more" *ngIf="products.length < productsCount && !loading" (click)="loadMore()">Load more</button>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center">
        <mat-spinner *ngIf="loading" diameter="40"></mat-spinner>
    </div>
</mat-dialog-content>
<div mat-dialog-actions class="variant-selector-actions">
    <button mat-stroked-button color="primary" mat-dialog-close>Close</button>
    <button mat-flat-button color="primary" [disabled]="selectedVariants.length === 0" (click)="addItems()">Add</button>
    <span class="items-selected">{{selectedVariants.length}} items selected</span>
</div>
