.field-hint {
  margin-top: 0;
  margin-bottom: 10px;
}
.field-label {
  margin-bottom: 5px;
}
.field-value {
  margin-top: 5px;
  margin-bottom: 10px;
  color: rgba(0,0,0,0.59);
}
.mat-card-title{
  font-size: 14px;

}
.mat-card-subtitle{
  font-size: 12px;
  margin: 0;
}
.mat-card-content{
  margin-bottom: 15px;
}
.mat-card-title.link{
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}
.mat-card-footer
{
  padding: 16px;
  border-top: 1px solid;
}
.shipping-to{
  // margin-top: 15px;
  margin-bottom: 20px;
}
.zone{
  border-bottom: 1px solid #ccc;
}
.zone:last-child{
  border-bottom:none;
}
.zone-title, .rate-title{
  font-size: 13px;
}
.title-wrapper{
  padding: 10px;
}

.label{
  margin-top: 9px;
}