<button mat-icon-button mat-dialog-close class="dialog-close"><mat-icon>close</mat-icon></button>
<h2 mat-dialog-title>Export orders</h2>
<p *ngIf="showMessage">Export file will be sent on email</p>
<mat-dialog-content *ngIf="!showMessage"  class="mat-typography">
    <p>Select an option to export orders:</p>
    <mat-radio-group fxLayout="column" class="verticle-checkbox" [(ngModel)]="exportType">
        <mat-radio-button value="all">All orders</mat-radio-button>
        <mat-radio-button value="selected" [disabled]="data.orders.length == 0">{{data.orders.length}} Selected orders</mat-radio-button>
    </mat-radio-group>
</mat-dialog-content>
<div mat-dialog-actions>
    <button mat-stroked-button color="primary" mat-dialog-close>Cancel</button>
    <button *ngIf="!showMessage" mat-flat-button color="primary" [disabled]="loading" (click)="onExport()">Export</button>
</div>
