<app-topbar></app-topbar>
<app-sidenav></app-sidenav>
<main id="main">
    <mat-progress-bar class="page-loader" color="accent" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    <div class="page-header" fxLayout="row" fxLayoutAlign="space-between center">
        <h1>
            <button mat-icon-button aria-label="Go back" class="header-back-arrow" (click)="goBack()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            User management
        </h1>
    </div>

    <div class="page-container">
        <div class="settings-section" *ngIf="!loading">
            <div fxLayout="row">
                <div fxFlex="0 1 33.333333%">
                    <h2>Store Owner</h2>
                    <p>Store owners have some permissions that can't be assigned to staff.</p>
                </div>
                <div fxFlex="1 1 auto">
                    <mat-card>
                        <mat-card-header>
                            <div mat-card-avatar>
                                <span class="account-initials">MK</span>
                            </div>
                            <mat-card-title class="account-title"><span class="text-link" (click)="openUserInfo(storeOwner.id)">{{storeOwner.first_name}} {{storeOwner.last_name}}</span></mat-card-title>
                            <mat-card-subtitle>Last login was {{storeOwner.last_login}}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="text-link" (click)="openTransferOwnershipDialog()">Transfer ownership</p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>

        <div class="settings-section" *ngIf="!loading">
            <div fxLayout="row">
                <div fxFlex="0 1 33.333333%">
                    <h2>Store Staff</h2>
                    <p>Store owners have some permissions that can't be assigned to staff.</p>
                </div>
                <div fxFlex="1 1 auto">
                    <div class="text-right">
                        <button mat-flat-button color="primary" (click)="addUser()">Add</button>
                    </div>
                    <div class="accounts-list">
                        <mat-card class="account-card" *ngFor="let user of staff">
                            <mat-card-content>
                                <div fxFlex="row">
                                    <div fxFlex="0 1 66.66666%">
                                        <h4 class="text-link" (click)="openUserInfo(user.id)">{{user.first_name}} {{user.last_name}}</h4>
                                        <p>Last login was {{user.last_login}}</p>
                                    </div>
                                    <div fxFlex="0 1 33.33333%" class="text-right">
                                        <span class="access-label full" *ngIf="user.full_access">Full access</span>
                                        <span class="access-label limited" *ngIf="!user.full_access">Limited access</span>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
