<h2>Slides</h2>
<div class="slides-wrapper">
    <div
        cdkDropList
        (cdkDropListDropped)="slideSortChanged($event)"
    >
        <mat-card class="slide" *ngFor="let slide of data.slides; let i = index" cdkDrag>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <mat-icon cdkDragHandle class="sort-handle">expand</mat-icon>
                <button mat-icon-button color="warn" (click)="removeSlide(i)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
            <div fxLayout="row">
                <div fxFlex="1 0 50%">
                    <h4>Desktop image</h4>
                    <image-selector
                        [(files)]="slide.desktop_img"
                        valueType="url"
                    ></image-selector>
                </div>
                <div fxFlex="1 0 50%">
                    <h4>Mobile image</h4>
                    <image-selector
                        [(files)]="slide.mobile_img"
                        valueType="url"
                    ></image-selector>
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex="0 1 50%">
                    <mat-form-field appearance="outline">
                        <mat-label>Slider alt text</mat-label>
                        <input matInput [(ngModel)]="slide.banner_slider_alt_text" />
                    </mat-form-field>

                </div>

                <div fxFlex="0 1 50%">
                    <mat-form-field appearance="outline">
                        <mat-label>Slide link</mat-label>
                        <input matInput [(ngModel)]="slide.link" />
                    </mat-form-field>

                </div>
            </div>
        </mat-card>
    </div>

    <mat-card style="margin-top: 20px">
        <button mat-stroked-button color="primary" (click)="addSlide()">+ Add slide</button>
    </mat-card>
</div>