<h4>First banner</h4>
<mat-card>
    <div fxLayout="row">
        <div fxFlex="0 1 50%">
            <h4>Desktop image</h4>
            <image-selector
                [(files)]="data.first_banner.desktop_img"
                valueType="url"
            ></image-selector>
        </div>
        <div fxFlex="0 1 50%">
            <h4>Mobile image</h4>
            <image-selector
                [(files)]="data.first_banner.mobile_img"
                valueType="url"
            ></image-selector>
        </div>
    </div>

    <div fxLayout="row">
        <div fxFlex="0 1 50%">
            <mat-form-field appearance="outline">
                <mat-label>First banner alt text</mat-label>
                <input matInput [(ngModel)]="data.first_banner.banner_alt_text" />
            </mat-form-field>
        </div>
    
        <div fxFlex="0 1 50%">
            <mat-form-field appearance="outline">
                <mat-label>Link</mat-label>
                <input matInput [(ngModel)]="data.first_banner.link" />
            </mat-form-field>
        </div>
    </div>
</mat-card>

<h4 style="margin-top: 30px">Second banner</h4>
<mat-card>
    <div fxLayout="row">
        <div fxFlex="0 1 50%">
            <h4>Desktop image</h4>
            <image-selector
                [(files)]="data.second_banner.desktop_img"
                valueType="url"
            ></image-selector>
        </div>
        <div fxFlex="0 1 50%">
            <h4>Mobile image</h4>
            <image-selector
                [(files)]="data.second_banner.mobile_img"
                valueType="url"
            ></image-selector>
        </div>
    </div>

    <div fxLayout="row">
        <div fxFlex="0 1 50%">
            <mat-form-field appearance="outline">
                <mat-label>Second banner alt text</mat-label>
                <input matInput [(ngModel)]="data.second_banner.banner_alt_text" />
            </mat-form-field>
    
        </div>
    
        <div fxFlex="0 1 50%">
            <mat-form-field appearance="outline">
                <mat-label>Link</mat-label>
                <input matInput [(ngModel)]="data.second_banner.link" />
            </mat-form-field>
    
        </div>
    </div>
</mat-card>
