<div
    cdkDropList
    (cdkDropListDropped)="sortChanged($event)"
>
    <mat-card *ngFor="let feature of data.features; let i = index" cdkDrag>
        <div fxLayout="row" fxLayoutAlign="space-between center" style="margin-bottom: 20px">
            <div>
                <mat-icon cdkDragHandle class="sort-handle">expand</mat-icon>
            </div>
            <div>
                <button mat-icon-button color="warn" (click)="removeFeature(i)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlex="0 1 50%">
                <image-selector
                    [(files)]="feature.icon_img"
                    valueType="url"
                ></image-selector>
            </div>
            <div fxFlex="0 1 50%">
                <mat-form-field appearance="outline">
                    <mat-label>Title</mat-label>
                    <input matInput [(ngModel)]="feature.title" />
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <input matInput [(ngModel)]="feature.small_text" />
                </mat-form-field>
            </div>
        </div>
    </mat-card>
</div>

<mat-card style="margin-top: 20px">
    <button mat-stroked-button color="primary" (click)="addFeature()">+ Add feature</button>
</mat-card>
