<mat-card>
    <div fxLayout="row">
        <div fxFlex="0 1 50%">
            <image-selector [(files)]="data.banner_img"></image-selector>
        </div>
        <div fxFlex="0 1 50%">
            <mat-form-field appearance="outline">
                <mat-label>Title</mat-label>
                <input matInput [(ngModel)]="data.title" />
            </mat-form-field>
        </div>
    </div>
</mat-card>

<h4 style="margin-top: 20px">Categories ({{data.categories.length}}/14)</h4>

<div style="margin-top: 20px">
    <mat-card *ngFor="let category of data.categories">
        <p>{{category.name}}</p>
        <button mat-stroked-button color="primary">Change category</button>
    </mat-card>
</div>