<app-topbar></app-topbar>
<app-sidenav></app-sidenav>
<main id="main">
    <mat-progress-bar class="page-loader" color="accent" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    <div class="page-header" fxLayout="row" fxLayoutAlign="space-between center">
        <h1>Edit product</h1>

        <div class="header-actions">
            <a [routerLink]="['/', URLS.products]" mat-stroked-button color="primary">Cancel</a>
            <button mat-flat-button color="primary" [disabled]="!productForm.valid" (click)="onSubmit()">Save</button>
        </div>
    </div>

    <div fxLayout="row">
        <div fxFlex="0 1 66.66666">
            <form action="" [formGroup]="productForm">
                <!-- General Information -->
                <mat-card>
                    <h2>General Information</h2>

                    <mat-form-field appearance="outline">
                        <mat-label>Product Name</mat-label>
                        <input matInput formControlName="title" />
                        <mat-error *ngIf="productForm.get('title').hasError('required')">Enter the name of your product.</mat-error>
                    </mat-form-field>
    
                    <quill-editor [modules]="editorModules" placeholder="Product description" formControlName="description"></quill-editor>
                </mat-card>

                <!-- Features -->
                <mat-card>
                    <h2>Features</h2>
    
                    <table class="product-features-table">
                        <thead>
                            <tr>
                                <th style="width: 20%">Field</th>
                                <th>Value</th>
                                <th style="width: 50px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let featureGroup of productForm.get('features')['controls']; let i = index">
                                <ng-container [formGroup]="featureGroup">
                                    <td>
                                        <mat-form-field appearance="outline">
                                            <input matInput formControlName="feature_title" />
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field appearance="outline">
                                            <input matInput formControlName="feature_details" />
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <button mat-icon-button color="primary" (click)="deleteFeature(i)"><mat-icon>delete</mat-icon></button>
                                    </td>
                                </ng-container>
                            </tr>
                        </tbody>
                    </table>
    
                    <div class="text-right meta-fields-bottom">
                        <button mat-button color="primary" (click)="addFeature()">Add feature</button>
                    </div>
                </mat-card>
            </form>

            <!-- Media -->
            <mat-card class="mt-20">
                <h2>Media</h2>

                <div class="image-previews" fxLayout="row wrap" fxLayoutAlign="start" *ngIf="bannerImages.length">
                    <div class="preview-wrapper" *ngFor="let image of bannerImages; let i = index;">
                        <img [src]="image.cdn_link" />
                        <button mat-icon-button color="warn" class="remove-preview-image" (click)="removeImage(i)"><mat-icon>close</mat-icon></button>
                    </div>
                </div>

                <angular-file-uploader
                    [config]="afuConfig"
                    (ApiResponse)="mediaUpload($event)">
                </angular-file-uploader>
            </mat-card>

            <!-- Inventory -->
            <mat-card *ngIf="!productForm.get('has_variants').value" [formGroup]="inventoryForm">
                <h2>Inventory</h2>

                <div fxLayout="row">
                    <div fxFlex="0 1 50%">
                        <mat-form-field appearance="outline">
                            <mat-label>SKU</mat-label>
                            <input matInput formControlName="sku" />
                        </mat-form-field>
                    </div>
                    <div fxFlex="0 1 50%">
                        <mat-form-field appearance="outline">
                            <mat-label>Barcode</mat-label>
                            <input matInput formControlName="barcode" />
                        </mat-form-field>
                    </div>
                </div>

                <div fxLayout="row">
                    <div fxFlex="0 1 50%">
                        <mat-form-field appearance="outline">
                            <mat-label>Inventory available</mat-label>
                            <input matInput type="number" formControlName="inventory_quantity" />
                        </mat-form-field>
                    </div>
                    <div fxFlex="0 1 50%">
                        <mat-checkbox formControlName="track_inventory">Track inventory</mat-checkbox>
                    </div>
                </div>
            </mat-card>

            <!-- Variants -->
            <mat-card>
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <h2>Variants</h2>

                    <button mat-button color="primary" (click)="onEditOptions()" *ngIf="productOptions.length && !creatingVariants">Edit options</button>
                </div>

                <div [formGroup]="productForm" *ngIf="!productForm.get('has_variants').value">
                    <mat-checkbox formControlName="has_variants" (change)="hasVariantsChange($event)">This product has multiple options like size, color etc.</mat-checkbox>
                </div>

                <div *ngIf="productForm.get('has_variants').value && !creatingVariants">
                    <table class="product-variants-edit-table">
                        <thead>
                            <tr>
                                <th *ngFor="let option of productOptions">{{option.name}}</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>SKU</th>
                                <th style="width: 100px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let variant of variants">
                                <td *ngFor="let option of productOptions; let i = index">{{variant['option' + (i+1)]}}</td>
                                <td>{{variant.price}}</td>
                                <td>{{variant.inventory_quantity}}</td>
                                <td>{{variant.sku}}</td>
                                <td>
                                    <button mat-icon-button color="primary"><mat-icon>edit</mat-icon></button>
                                    <button mat-icon-button color="warn" (click)="deleteVariant(variant)"><mat-icon>delete</mat-icon></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div *ngIf="creatingVariants">
                    <table class="product-options-table">
                        <tbody>
                            <ng-container *ngFor="let option of productOptions; let i = index;">
                                <tr>
                                    <td style="width: 200px">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Name</mat-label>
                                            <input matInput [(ngModel)]="option.name" />
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <tags-input
                                            [(value)]="option.values"
                                            (change)="makeVariantsFromOptions()"
                                            placeholder="New option..."
                                            label="Option"></tags-input>
                                    </td>
                                    <td style="width: 50px">
                                        <button mat-icon-button color="primary" (click)="deleteOption(i)" *ngIf="productOptions.length > 1"><mat-icon>delete</mat-icon></button>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
    
                    <div class="add-option">
                        <button mat-button color="primary" (click)="addOption()" *ngIf="productOptions.length < 3">Add option</button>
                    </div>

                    <mat-divider></mat-divider>

                    <table class="product-variants-table">
                        <thead>
                            <tr>
                                <th>Variant</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>SKU</th>
                                <th>Barcode</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let variantGroup of variantsForm.get('variants')['controls']; let i = index">
                                <ng-container [formGroup]="variantGroup">
                                    <td>{{variantGroup.get('title').value}}</td>
                                    <td>
                                        <mat-form-field appearance="outline">
                                            <input matInput type="number" formControlName="price" />
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field appearance="outline">
                                            <input matInput type="number" formControlName="inventory_quantity" />
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field appearance="outline">
                                            <input matInput formControlName="sku" />
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field appearance="outline">
                                            <input matInput formControlName="barcode" />
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <button color="warn" mat-icon-button (click)="removeVariant(i)"><mat-icon>delete</mat-icon></button>
                                    </td>
                                </ng-container>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </mat-card>
        </div>
        <div fxFlex="0 1 33.33333">
            <form [formGroup]="productForm">
                <!-- Availability -->
                <mat-card>
                    <h2>Availability</h2>
    
                    <div fxLayout="column" class="verticle-checkbox">
                        <mat-checkbox formControlName="is_active">Active</mat-checkbox>
                        <mat-checkbox formControlName="hide_out_of_stock">Hide when out of stock</mat-checkbox>
                    </div>
                </mat-card>

                <!-- Organization -->
                <mat-card class="mt-20">
                    <h2>Organization</h2>
    
                    <mat-form-field appearance="outline">
                        <mat-label>Product type</mat-label>
                        <mat-select formControlName="product_type">
                            <mat-option [value]="type.id" *ngFor="let type of productTypes">{{type.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
    
                    <mat-form-field appearance="outline">
                        <mat-label>Product group</mat-label>
                        <mat-select formControlName="product_group">
                            <mat-option [value]="group.id" *ngFor="let group of productGroups">{{group.title}}</mat-option>
                        </mat-select>
                    </mat-form-field>
    
                    <mat-form-field appearance="outline">
                        <mat-label>Collections</mat-label>
                        <mat-select multiple formControlName="collection">
                            <mat-option [value]="collection.id" *ngFor="let collection of collections">{{collection.title}}</mat-option>
                        </mat-select>
                    </mat-form-field>
    
                    <mat-form-field appearance="outline">
                        <mat-label>Vendor</mat-label>
                        <mat-select formControlName="vendor">
                            <mat-option [value]="vendor.id" *ngFor="let vendor of vendors">{{vendor.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
    
                    <mat-form-field appearance="outline">
                        <mat-label>Brand</mat-label>
                        <mat-select formControlName="product_brand">
                            <mat-option [value]="brand.id" *ngFor="let brand of brands">{{brand.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>

                <!-- Price -->
                <mat-card *ngIf="!productForm.get('has_variants').value" [formGroup]="priceForm">
                    <h2>Price</h2>

                    <mat-form-field appearance="outline">
                        <mat-label>Price</mat-label>
                        <input matInput type="number" formControlName="price" />
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Compare at price</mat-label>
                        <input matInput type="number" formControlName="compare_at_price" />
                    </mat-form-field>
                </mat-card>

                <!-- Shipping and Tax -->
                <mat-card class="mt-20">
                    <h2>Shipping and Tax</h2>

                    <div fxLayout="column" class="verticle-checkbox">
                        <mat-checkbox formControlName="apply_shipping">Apply shipping</mat-checkbox>
                        <mat-checkbox formControlName="apply_tax">Apply Tax</mat-checkbox>
                    </div>
                </mat-card>

                <!-- Tags -->
                <mat-card>
                    <h2>Tags</h2>

                    <tags-input
                        label="Tags"
                        [showRemove]="true"
                        [(value)]="productTags">
                    </tags-input>
                </mat-card>
            </form>
        </div>
    </div>
</main>
