<app-topbar></app-topbar>
<app-sidenav></app-sidenav>
<main id="main">
    <mat-progress-bar class="page-loader" color="accent" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    <div id="dashboard-cards">
        <div fxLayout="row">
            <div fxFlex="0 1 25%">
                <mat-card>
                    <h4 fxLayoutAlign="center">Total Revenue</h4>
                    <p  class="dashboard-card-value"><mat-icon color="primary">inbox</mat-icon> {{cardsStats.today_orders}}</p>
                </mat-card>
            </div>
            <div fxFlex="0 1 25%">
                <mat-card>
                    <h4 fxLayoutAlign="center">Net Sales</h4>
                    <p class="dashboard-card-value"><mat-icon color="primary">payments</mat-icon> {{cardsStats.today_sale | currency: storeCurrency + ' '}}</p>
                </mat-card>
            </div>
            <div fxFlex="0 1 25%">
                <mat-card>
                    <h4 fxLayoutAlign="center">Inventory Size</h4>
                    <p class="dashboard-card-value"><mat-icon color="primary">inbox</mat-icon> {{cardsStats.total_orders}}</p>
                </mat-card>
            </div>

            <div fxFlex="0 1 25%">
                <mat-card>
                            <input  type="button" ngxDaterangepickerMd [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}" [(ngModel)]="selected" placeholder="Select date" />
                            <button (click)="testButton()">click</button>
                </mat-card>
            </div>

        </div>

        <div style="margin-top: 20px;" fxLayout="row">
            <div fxFlex="0 1 25%">
                <mat-card>
                    <h4 fxLayoutAlign="center">Basket Analysis</h4>
                    <div fxLayoutAlign="space-between" fxLayout="row">
                        <div  fxLayout="column">
                            <h4 class="card-value">10</h4>
                            <p class="card-text">Avg Basket size</p>
                        </div>

                        <div fxLayout="column">
                            <h4 class="card-value">466.34</h4>
                            <p class="card-text">Avg Basket Value</p>
                        </div>
                    </div>
                </mat-card>
            </div>

            <div fxFlex="0 1 75%">
                <mat-card>
                    <h4 fxLayoutAlign="center">Order Analysis</h4>
                    <div fxLayoutAlign="space-between" fxLayout="row">
                        <div  fxLayout="column">
                            <h4 class="card-value">25</h4>
                            <p class="card-text">Total Orders</p>
                        </div>

                        <div fxLayout="column">
                            <h4 class="card-value">466.34</h4>
                            <p class="card-text">Total Cancelled</p>
                        </div>

                        <div fxLayout="column">
                            <h4 class="card-value">466.34</h4>
                            <p class="card-text">Total Returned</p>
                        </div>
                    </div>
                </mat-card>
            </div>

            <div fxFlex="0 1 25%">
                <mat-card>
                        <mat-form-field style="padding-top: 12px;" appearance="outline">
                            <mat-label>Vendor</mat-label>
                            <mat-select  (selectionChange)="onVendorChange()">
                                <mat-option [value]="vendor.id" *ngFor="let vendor of vendors">{{vendor.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                </mat-card>
            </div>
        </div>
        <div style="margin-top: 20px;" fxLayout="row">
            <div fxFlex="0 1 50%">
                <mat-card>
                    <h4 fxLayoutAlign="center">General Analysis</h4>
                    <div fxLayoutAlign="space-between" fxLayout="row">
                        <div  fxLayout="column">
                            <h4 class="card-value">10</h4>
                            <p class="card-text">Total Vendors</p>
                        </div>

                        <div fxLayout="column">
                            <h4 class="card-value">466.34</h4>
                            <p class="card-text">Total Collections</p>
                        </div>


                        <div  fxLayout="column">
                            <h4 class="card-value">40</h4>
                            <p class="card-text">Total Product Groups</p>
                        </div>
                    </div>
                </mat-card>
            </div>

            <div fxFlex="0 1 50%">
                <mat-card>
                    <h4 fxLayoutAlign="center">Product Analysis</h4>
                    <div fxLayoutAlign="space-between" fxLayout="row">
                        <div  fxLayout="column">
                            <h4 class="card-value" >30</h4>
                            <p class="card-text">Total Products</p>
                        </div>

                        <div  fxLayout="column">
                            <h4 class="card-value" >20</h4>
                            <p class="card-text">Total Active Products</p>
                        </div>

                        <div  fxLayout="column">
                            <h4 class="card-value" >10</h4>
                            <p class="card-text">Total Unactive Products</p>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>

        <div style="margin-top: 20px;" fxLayout="row">
            <div #containerRef fxFlex="0 1 50%">
                <mat-card fxFlex="0 1 100%">
                    <div #containerRef>
                        <h4 fxLayoutAlign="center">Top 10 Sold Items</h4>
                            <ngx-charts-pie-chart 
                            [results]="saleData"
                            [scheme]="'ocean'"
                            [legendTitle]="'Product Sale Report'" 
                            [view]="[containerRef.offsetWidth , 300]"
                            [gradient]="false"
                            [labels]="true"
                            >
                        </ngx-charts-pie-chart>
                    </div>
                </mat-card>


            </div>
            <div  fxFlex="0 1 50%">
                <mat-card  fxFlex="0 1 100%">
                    <div #containerRef2>
                        <h4 fxLayoutAlign="center">User by Countries</h4>
                        <ngx-charts-bar-vertical 
                            [view]="[containerRef2.offsetWidth, 300]"
                            [results]="saleData"
                            [scheme]="'ocean'"
                            [legendTitle]="'Product Sale Chart'"
                            [xAxis]="true"
                            [yAxis]="true"
                            [gradient]="false">
                        </ngx-charts-bar-vertical>
                    </div>

                </mat-card>

            </div>
        </div>

        <div style="margin-top: 20px;" fxLayout="row">
            <div #containerRef fxFlex="0 1 50%">
                <mat-card fxFlex="0 1 100%">
                    <div #containerRef3>
                    <h4 fxLayoutAlign="center">Total Order by Category name</h4>
                        <ngx-charts-bar-horizontal
                            [view]="[containerRef3.offsetWidth , 400]"
                            [results]="saleData"
                            [scheme]="'ocean'"
                            [xAxisLabel]="'Products'"
                            [legendTitle]="'Product Sale Chart'"
                            [yAxisLabel]="'Sale'"
                            [xAxis]="true"
                            [yAxis]="true"
                            [gradient]="false">
                        </ngx-charts-bar-horizontal>
                    </div>
                </mat-card>


            </div>
            <div  fxFlex="0 1 50%">
                <mat-card  fxFlex="0 1 100%">
                    <div #containerRef4>
                        <h4 fxLayoutAlign="center">Total Sales by date</h4>
                        <ngx-charts-line-chart
                            [view]="[containerRef4.offsetWidth , 400]"
                            [results]="lineData"
                            [scheme]="'ocean'"
                            [xAxisLabel]="'Products'"
                            [legendTitle]="'Product Sale Chart'"
                            [yAxisLabel]="'Sale'"
                            [xAxis]="true"
                            [yAxis]="true"
                            [gradient]="false">
                        </ngx-charts-line-chart>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</main>
