.dashboard-card-value {
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;

    .material-icons {
        font-size: 32px;
        vertical-align: middle;
        line-height: 22px;
        margin-right: 14px;
    }
}
.card-value{
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 5px;
}

.card-text{
    color: #ffc107;
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 0;
}