<app-topbar></app-topbar>
<app-sidenav></app-sidenav>
<main id="main">
    <mat-progress-bar class="page-loader" color="accent" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    <div id="dashboard-cards">
        <div fxLayout="row">
            <div fxFlex="0 1 25%">
                <mat-card>
                    <h4>Today's orders</h4>
                    <p class="dashboard-card-value"><mat-icon color="primary">inbox</mat-icon> {{cardsStats.today_orders}}</p>
                </mat-card>
            </div>
            <div fxFlex="0 1 25%">
                <mat-card>
                    <h4>Today's sales</h4>
                    <p class="dashboard-card-value"><mat-icon color="primary">payments</mat-icon> {{cardsStats.today_sale | currency: storeCurrency + ' '}}</p>
                </mat-card>
            </div>
            <div fxFlex="0 1 25%">
                <mat-card>
                    <h4>Total orders</h4>
                    <p class="dashboard-card-value"><mat-icon color="primary">inbox</mat-icon> {{cardsStats.total_orders}}</p>
                </mat-card>
            </div>
            <div fxFlex="0 1 25%">
                <mat-card>
                    <h4>Total sales</h4>
                    <p class="dashboard-card-value"><mat-icon color="primary">payments</mat-icon> {{cardsStats.total_sale | currency: storeCurrency + ' '}}</p>
                </mat-card>
            </div>
        </div>
    </div>
</main>
