<app-topbar></app-topbar>
<app-sidenav></app-sidenav>
<main id="main">
    <div class="page-header" fxLayout="row" fxLayoutAlign="space-between center">
        <h1>Configurations</h1>
    </div>

    <div class="settings-section">
        <div class="content" fxLayout="row" fxLayout.xs="column">
            <h2 class="settings-section-heading" fxFlex="25%">Miscellaneous</h2>
            <div class="settings-section-cards" fxLayout="row wrap" fxFlex="grow">
                <div class="settings-section-card" fxFlex="0 1 33.3333%" *ngIf="userPermissions.store_setting">
                    <mat-card (click)="goToSettings('generalInformation')">
                        <mat-card-header>
                            <div mat-card-avatar [inlineSVG]="'/assets/img/InformationIcon.svg'"></div>
                            <mat-card-title>General Information</mat-card-title>
                            <mat-card-subtitle>Configurate your email address from which all automatic emails will be sent to your customers.</mat-card-subtitle>
                        </mat-card-header>
                    </mat-card>
                </div>
                <!-- <div class="settings-section-card" fxFlex="0 1 33.3333%">
                    <mat-card>
                        <mat-card-header>
                            <div mat-card-avatar [inlineSVG]="'/assets/img/MailIcon.svg'"></div>
                            <mat-card-title>Store Languages</mat-card-title>
                            <mat-card-subtitle>Manage the languages your customers see on your store.</mat-card-subtitle>
                        </mat-card-header>
                    </mat-card>
                </div> -->
                <div class="settings-section-card" fxFlex="0 1 33.3333%" *ngIf="userPermissions.user_management">
                    <mat-card (click)="goToSettings('userManagement')">
                        <mat-card-header>
                            <div mat-card-avatar [inlineSVG]="'/assets/img/UserIcon.svg'"></div>
                            <mat-card-title>User Management</mat-card-title>
                            <mat-card-subtitle>Manage what users can do or see in your store.</mat-card-subtitle>
                        </mat-card-header>
                    </mat-card>
                </div>

                <div class="settings-section-card" fxFlex="0 1 33.3333%" *ngIf="userPermissions.loyalty">
                    <mat-card (click)="goToSettings('loyality')">
                        <mat-card-header>
                            <div mat-card-avatar class="Loyality" [inlineSVG]="'/assets/img/Loyality.svg'"></div>
                            <mat-card-title>Loyalty</mat-card-title>
                            <mat-card-subtitle>Reward your customers with points based on their spending patterns.</mat-card-subtitle>
                        </mat-card-header>
                    </mat-card>
                </div>
                <!-- <div class="settings-section-card" fxFlex="0 1 33.3333%">
                    <mat-card>
                        <mat-card-header>
                            <div mat-card-avatar [inlineSVG]="'/assets/img/MailIcon.svg'"></div>
                            <mat-card-title>Checkout</mat-card-title>
                            <mat-card-subtitle>Customize your online store checkout process.</mat-card-subtitle>
                        </mat-card-header>
                    </mat-card>
                </div> -->
                <!-- <div class="settings-section-card" fxFlex="0 1 33.3333%">
                    <mat-card (click)="goToSettings('tax')">
                        <mat-card-header>
                            <div mat-card-avatar [inlineSVG]="'/assets/img/MailIcon.svg'"></div>
                            <mat-card-title>Tax</mat-card-title>
                            <mat-card-subtitle>Manage how your store charges taxes.</mat-card-subtitle>
                        </mat-card-header>
                    </mat-card>
                </div> -->
                <div class="settings-section-card" fxFlex="0 1 33.3333%" *ngIf="userPermissions.shipping_regions">
                    <mat-card (click)="goToSettings('shippingRegions')">
                        <mat-card-header>
                            <div mat-card-avatar class="shipping_regions" [inlineSVG]="'/assets/img/ShippingRegionsIcon.svg'"></div>
                            <mat-card-title>Shipping regions</mat-card-title>
                            <mat-card-subtitle>Manage the list of countries and their respective cities to show in shipping condition.</mat-card-subtitle>
                        </mat-card-header>
                    </mat-card>
                </div>

                <div class="settings-section-card" fxFlex="0 1 33.3333%" *ngIf="userPermissions.shipping_methods">
                    <mat-card (click)="goToSettings('shipping')">
                        <mat-card-header>
                            <div mat-card-avatar  [inlineSVG]="'/assets/img/ShippingIcon.svg'"></div>
                            <mat-card-title>Shipping methods</mat-card-title>
                            <mat-card-subtitle>Manage shipping rates on your store.</mat-card-subtitle>
                        </mat-card-header>
                    </mat-card>
                </div>

                <div class="settings-section-card" fxFlex="0 1 33.3333%" *ngIf="userPermissions.checkout_setting">
                    <mat-card (click)="goToSettings('checkoutCustomization')">
                        <mat-card-header>
                            <div mat-card-avatar class="shipping_regions" [inlineSVG]="'/assets/img/CheckoutSettingIcon.svg'"></div>
                            <mat-card-title>Checkout settings</mat-card-title>
                            <mat-card-subtitle>Checkout customization settings.</mat-card-subtitle>
                        </mat-card-header>
                    </mat-card>
                </div>

            </div>
        </div>
    </div>

    <!-- <div class="settings-section">
        <div class="content" fxLayout="row" fxLayout.xs="column">
            <h2 class="settings-section-heading" fxFlex="25%">Communication</h2>
            <div class="settings-section-cards" fxLayout="row wrap" fxFlex="grow">
                <div class="settings-section-card" fxFlex="0 1 33.3333%">
                    <mat-card>
                        <mat-card-header>
                            <div mat-card-avatar [inlineSVG]="'/assets/img/MailIcon.svg'"></div>
                            <mat-card-title>Email</mat-card-title>
                            <mat-card-subtitle>Configurate your email address from which all automatic emails will be sent to your customers.</mat-card-subtitle>
                        </mat-card-header>
                    </mat-card>
                </div>
                <div class="settings-section-card" fxFlex="0 1 33.3333%">
                    <mat-card>
                        <mat-card-header>
                            <div mat-card-avatar [inlineSVG]="'/assets/img/MailIcon.svg'"></div>
                            <mat-card-title>Files</mat-card-title>
                            <mat-card-subtitle>Configurate your email address from which all automatic emails will be sent to your customers.</mat-card-subtitle>
                        </mat-card-header>
                    </mat-card>
                </div>
            </div>
        </div>
    </div> -->
</main>
