@import "../../../variables.scss";

.settings-section {
    margin-top: 30px;

    .settings-section-cards {
        > .settings-section-card {
            .mat-card-header {
                .mat-card-avatar {
                    color: $primary;
                }
                .mat-card-title {
                    color: $primary;
                }
            }
        }
    }
}