<div id="auth-wrapper">
    <img class="logo" [src]="logo_img" />

    <!-- Verify email address -->
    <form [formGroup]="emailAddressForm" (ngSubmit)="verifyEmail()" *ngIf="!emailSent && !codeVerified">
        <mat-card>
            <mat-card-content>
                <h1 class="text-center">Forgot password</h1>
                <mat-form-field appearance="outline">
                    <mat-label>Email address</mat-label>
                    <input matInput name="email" formControlName="email" type="email">
                    <mat-error *ngIf="emailAddressForm.get('email').hasError('required')">Enter your email address.</mat-error>
                </mat-form-field>

                <p class="form-error" *ngIf="formError">{{ formError }}</p>
                <a [routerLink]="'/' + URLS.signin">Login instead.</a>
                <button mat-flat-button color="primary" class="button-block" type="submit" [disabled]="loading || !emailAddressForm.valid">Verify</button>
            </mat-card-content>
        </mat-card>
    </form>

    <!-- Verify code -->
    <form *ngIf="emailSent && !codeVerified" [formGroup]="codeVerifyForm" (ngSubmit)="verifyCode()">
        <mat-card>
            <mat-card-content>
                <h1 class="text-center">Verify code</h1>
                <mat-form-field appearance="outline">
                    <mat-label>Code</mat-label>
                    <input matInput name="code" formControlName="code">
                    <mat-error *ngIf="codeVerifyForm.get('code').hasError('required')">Enter the code to verify.</mat-error>
                </mat-form-field>

                <p class="form-error" *ngIf="formError">{{ formError }}</p>

                <button mat-flat-button color="primary" class="button-block" type="submit" [disabled]="loading || !codeVerifyForm.valid">Verify</button>
            </mat-card-content>
        </mat-card>
    </form>

    <!-- Set new password -->
    <form *ngIf="emailSent && codeVerified" [formGroup]="setPasswordForm" (ngSubmit)="setPassword()">
        <mat-card>
            <mat-card-content>
                <h1 class="text-center">Create new password</h1>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput name="password" formControlName="password" type="password">
                    <mat-error *ngIf="setPasswordForm.get('password').hasError('required')">Please enter your password.</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Confirm password</mat-label>
                    <input matInput name="confirm_password" formControlName="confirm_password" type="password">
                    <mat-error *ngIf="setPasswordForm.get('confirm_password').hasError('required')">Please re-enter your password.</mat-error>
                </mat-form-field>

                <p class="form-error" *ngIf="formError">{{ formError }}</p>

                <button mat-flat-button color="primary" class="button-block" type="submit" [disabled]="loading || !setPasswordForm.valid">Verify</button>
            </mat-card-content>
        </mat-card>
    </form>
</div>
