.page-container{
    [fxLayout= "row"]{
        margin: 15px 0 0 0;
    }
}

.save-button{
    padding-bottom: 15px;
    padding-right: 15px;

}

.button-style{
    padding: 10px 10px 0px 0px ;
}
.hidden{
    display: none;
}

.margin-bottom{
    margin-bottom: 10px;
}