@import "variables.scss";

@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

@import '~@angular/material/theming';
$custom-typography: mat-typography-config(
  $font-family: 'Poppins'
);
@include mat-core($custom-typography);



// Quill styles 
.ql-toolbar.ql-snow {
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    border-color: #e0e0e0;
}
.ql-container.ql-snow {
    border-radius: 0 0 5px 5px;
    border-color: #e0e0e0;
}
.ql-editor.ql-blank::before {
    font-style: normal;
}



* {
    box-sizing: border-box;
}

html {
    min-height: 100%;
}
html, body { height: 100%; }
body {
    margin: 0;
    padding: 0;
    background-color: #eff5f8;
    min-height: 100%;
    font-family: 'Poppins', sans-serif;
    color: $textColor;

    .mat-form-field {
        width: 100%;
        display: block;
        margin-bottom: 10px;
    }

    .mat-button-base {
        &.button-block {
            display: block;
            width: 100%;
        }
    }
}
a, .text-link {
    color: #2F80ED;
    text-decoration: none;
    cursor: pointer;
}
.text-link {
    color: #2F80ED !important;
}
#main {
    padding: 73px 25px 25px 290px;
}

.page-header {
    position: relative;

    .header-back-arrow {
        position: absolute;
        left: -30px;
        top: -5px;
    }

    .header-actions {
        > * + * {
            margin-left: 10px;
        }
    }
}
.page-loader.mat-progress-bar {
    position: fixed;
    top: 48px;
    left: 250px;
    right: 0;
}
.page-container {
    max-width: 1100px;
}
[fxlayout="row"], [fxlayout="row wrap"] {
    margin: 0 -10px;

    > * {
        padding: 0 10px;
    }
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.mat-dialog-container {
    position: relative;
}
.mat-icon-button {
    &.dialog-close {
        position: absolute;
        top: 18px;
        right: 18px;
    }
}
.settings-section {
    margin-top: 30px;

    h2 {
        margin-bottom: 10px;
    }
}
table.mat-table{
    width: 100%;
}
th.mat-header-cell {
    font-weight: 600;
    color: #3d3d3d;
    font-size: 14px;
}
.form-error {
    color: #f00;
    margin: 10px 0;
    font-size: 13px;
}
#auth-wrapper {
    max-width: 550px;
    margin: 0 auto;
    padding: 50px 20px 30px;

    .mat-progress-bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    .logo {
        display: block;
        width: 170px;
        margin: 0 auto 30px;
    }

    h1 {
        font-size: 18px;
    }
    .mat-card {
        padding: 30px;
    }
    .button-block {
        margin-top: 20px;
        padding: 8px 16px;
    }
}
.mat-card + .mat-card {
    margin-top: 20px;
}
.mat-form-field + mat-form-field {
    margin-top: 10px;
}
.meta-fields-table {
    .mat-form-field-appearance-outline .mat-form-field-wrapper {
        margin: 0;
    }
    .mat-form-field {
        margin-bottom: 0px;

        .mat-form-field-wrapper {
            margin: 0px;
            padding: 0;
        }
    }
}
.mat-radio-group {
    label {
        margin-bottom: 10px;
    }
}
.mat-radio-button {
    .mat-radio-label {
        font-weight: 400;
    }
}
body {
    .category-conditions-wrap {
        .mat-form-field {
            margin-bottom: 0;
        }
        .mat-form-field-appearance-outline .mat-form-field-wrapper {
            margin-bottom: 0;
        }
    }
}

.p-datatable {
    .p-datatable-thead {
        > tr {
            > th {
                background-color: transparent;
            }
        }
    }
}