@import "variables.scss";

@import '~@angular/material/theming';
$custom-typography: mat-typography-config(
  $font-family: 'Poppins'
);
@include mat-core($custom-typography);

* {
    box-sizing: border-box;
}

html {
    min-height: 100%;
}
html, body { height: 100%; }
body {
    margin: 0;
    padding: 0;
    background-color: #eff5f8;
    min-height: 100%;
    font-family: 'Poppins', sans-serif;
    color: $textColor;

    .mat-form-field {
        width: 100%;
        display: block;
    }
}
a, .text-link {
    color: #2F80ED;
    text-decoration: none;
    cursor: pointer;
}
.text-link {
    color: #2F80ED !important;
}
#main {
    padding: 73px 25px 25px 290px;
}

.page-header {
    position: relative;

    .header-back-arrow {
        position: absolute;
        left: -30px;
        top: -5px;
    }

    .header-actions {
        > * + * {
            margin-left: 10px;
        }
    }
}
.page-container {
    max-width: 1100px;
}
[fxlayout="row"] {
    margin: 0 -10px;

    > * {
        padding: 0 10px;
    }
}
.text-right {
    text-align: right;
}
.mat-dialog-container {
    position: relative;
}
.mat-icon-button {
    &.dialog-close {
        position: absolute;
        top: 18px;
        right: 18px;
    }
}
.settings-section {
    margin-top: 30px;

    h2 {
        margin-bottom: 10px;
    }
}
table.mat-table{
    width: 100%;
}
th.mat-header-cell {
    font-weight: 600;
    color: #3d3d3d;
    font-size: 14px;
}