@import '~@angular/material/theming';

@import 'theme_colors';

@include angular-material-theme($app-theme);

$textColor: rgba(0,0,0,0.85);
$primaryColor: mat-color($app-primary);
$primaryHighlight: mat-color($app-primary, default, 0.075);
