@import '../../../../../scss/variables.scss';

.cdk-drag-placeholder {
    display: none;
}

.cdk-drag-preview {
    box-sizing: border-box;
    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);

    background: #fff;
    opacity: 0.3;
}

.drop-inside {
    border: 1px solid #00f;
}

.drop-before {
    border-top: 1px solid #00f;
}

.drop-after {
    border-bottom: 1px solid #00f;
}

.node-title {
  padding:15px;
  margin: 5px;
  background: #eee;
  cursor: grab;
}

.node-children {
    position: relative;
    transition: height 0.2s;
    margin-left: 40px;
}
.item-notes { 
  margin-left:20px;
  color:#aaa;
 }
 .nav-drag-drop#main{
     padding-left: 0;
 }
 .navi-container {
  width: 400px;
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.navi-box {
  padding: 10px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.navi-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .navi-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.navi-box .ng-star-inserted:not(button){
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.drop-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.navigation-drag-drop-container > .ng-star-inserted:not(button){
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.edit-nav-main-conatainer{
  display: flex;
  &>div{
    flex: 0 0 50%;
    padding-right: 25px;
  }
  &>div:first-child{
    padding-right: 25px;
  }
  
}
.page-header
{
  margin-bottom: 20px;
  h2{
    margin-bottom: 0;
  }
}
.active-nav{
  // background-color:rgba(76, 175, 80, 0.075);
  background-color: $primaryHighlight;
}
.material-icons{
  font-family: 'Material Icons' !important;
}
.nav-node{
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-nav
{
  font-weight: bold;
  font-size: 18px;
}
.cancel-btn{
  margin-right: 10px;
}
.cdk-drag-handle{
  color: rgba(0, 0, 0, 0.38);
  margin-right: 5px;
}
.child-nav{
  background-color:rgba(0, 0, 0, 0.05);
}
.sub-child-nav{
  background-color:rgba(0, 0, 0, 0.075);
}
.mat-list-item-content{
  justify-content: space-between;
}