@import "src/scss/variables.scss";


.permissions {
    * + label {
        margin-top: 20px;
    }
    label {
        display: block;
        margin-bottom: 10px;
    }
    .mat-checkbox {
        display: block;
    }
}


.error-response{
    color: red;
    font-size: 12px;
}


.sidenav-drawer {
    background-color: #ffffff;
    transform: translateX(-100%);
    transition: transform 0.4s ease-out;

  
    &.show {
    transform: translateX(10%);
    -webkit-transform: translateX(10%);
    -moz-transform: translateX(10%);
    -ms-transform: translateX(10%);
    -o-transform: translateX(10%);
}
  
    .sidenav-title {
      padding: 18px 20px;
      border-bottom: 1px solid #e0e0e0;
      color: $primaryColor;
    }
  
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
  
      li {
        a {
          display: block;
          padding: 8px 20px;
          color: inherit;
  
          &:hover, &:focus, &.active {
            color: $primaryColor;
          }
        }
      }
    }
  }

  .active {
    color: $primaryColor;
  }
  .space{
    margin-top:24px ;
  }
  .arrow-icon{
    cursor: pointer;
  }