@import "../../../variables.scss";

#side-nav {
  background-color: #fff;
  position: fixed;
  top: 48px;
  left: 0;
  bottom: 0;
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    li {
      > a {
        display: block;
        padding: 6px 18px;
        text-decoration: none;
        color: inherit;

        &:hover, &:focus {
          color: $primaryColor;
        }
      }
    }
  }
  .link-icon {
    display: inline-block;
    width: 16px;
    margin-right: 10px;
    vertical-align: middle;
  }
}