<div id="side-nav" (click)="stopPropagation($event)">
    <nav>
        <ul>
            <li *ngIf="userPermissions.dashboard">
                <a [routerLink]="'/' + Urls.home" routerLinkActive="active">
                    <span class="link-icon" [inlineSVG]="'/assets/img/HomeIcon.svg'"></span>Home
                </a>
            </li>
            <li *ngIf="!is_vendor && userPermissions.customization">
                <a (click)="toggleDrawer('customization')" [class.active]="sideDrawer === 'customization'">
                    <span class="link-icon" [inlineSVG]="'/assets/img/CustomizationIcon.svg'"></span>Customization
                </a>
            </li>
            <li *ngIf="userPermissions.products">
                <a (click)="toggleDrawer('products')" [class.active]="sideDrawer === 'products'">
                    <span class="link-icon" [inlineSVG]="'/assets/img/ProductsIcon.svg'"></span>Products
                </a>
            </li>
            <li *ngIf="userPermissions.orders">
                <a (click)="toggleDrawer('orders')" [class.active]="sideDrawer === 'orders'">
                    <span class="link-icon" [inlineSVG]="'/assets/img/OrdersIcon.svg'"></span>Orders
                </a>
            </li>
            <li *ngIf="!is_vendor && userPermissions.vendor">
                <a [routerLink]="['/', Urls.vendors]" routerLinkActive="active">
                    <span class="link-icon" [inlineSVG]="'/assets/img/vendor.svg'"></span>Vendors
                </a>
            </li>
            <li *ngIf="!is_vendor && userPermissions.customer">
                <a [routerLink]="['/', Urls.customers]" routerLinkActive="active">
                    <span class="link-icon" [inlineSVG]="'/assets/img/CustomersIcon.svg'"></span>Customers
                </a>
            </li>
            <li *ngIf="!is_vendor && userPermissions.discounts">
                <a (click)="toggleDrawer('discount')" [class.active]="sideDrawer === 'discount'">
                    <span class="link-icon" [inlineSVG]="'/assets/img/DiscountsIcon.svg'"></span>Discounts
                </a>
            </li>

            <li *ngIf="is_vendor && userPermissions.discounts">
                <a [routerLink]="'/' + Urls.discounts" routerLinkActive="active">
                    <span class="link-icon" [inlineSVG]="'/assets/img/DiscountsIcon.svg'"></span>Discounts
                </a>
            </li>
            <li *ngIf="!is_vendor && userPermissions.configuration">
                <a [routerLink]="'/' + Urls.configuration" routerLinkActive="active">
                    <span class="link-icon" [inlineSVG]="'/assets/img/SettingsIcon.svg'"></span>Configuration
                </a>
            </li>
            <li *ngIf="is_vendor">
                <a [routerLink]="['/', Urls.vendors, Urls.edit, this.vendorID]" routerLinkActive="active">
                    <span class="link-icon" [inlineSVG]="'/assets/img/vendor.svg'"></span>Vendor profile
                </a>
            </li>
        </ul>
    </nav>
</div>
<div class="sidenav-drawer" [class.show]="sideDrawer === 'products'" (click)="stopPropagation($event)">
    <h4 class="sidenav-title">Products</h4>
    <nav>
        <ul>
            <li><a [routerLink]="['/', Urls.products]" routerLinkActive="active">All products</a></li>
            <li><a [routerLink]="['/', Urls.productGroups]" routerLinkActive="active">Product groups</a></li>
            <li><a [routerLink]="'/' + Urls.collections" routerLinkActive="active">Collections</a></li>
            <li *ngIf="!is_vendor"><a [routerLink]="'/' + Urls.categories" routerLinkActive="active">Category structure</a></li>
            <li *ngIf="!is_vendor"><a [routerLink]="'/' + Urls.brands" routerLinkActive="active">Brands</a></li>
        </ul>
    </nav>
</div>

<div class="sidenav-drawer" [class.show]="sideDrawer === 'orders'" (click)="stopPropagation($event)">
    <h4 class="sidenav-title">Orders</h4>
    <nav>
        <ul>
            <li><a [routerLink]="['/', Urls.orders]" routerLinkActive="active">All orders</a></li>
            <li><a [routerLink]="['/', Urls.draftOrders]" routerLinkActive="active">Draft orders</a></li>
        </ul>
    </nav>
</div>
<div class="sidenav-drawer" [class.show]="sideDrawer === 'customization'" (click)="stopPropagation($event)">
    <h4 class="sidenav-title">Customization</h4>
    <nav>
        <ul>
            <li><a [routerLink]="['/', Urls.homepage]" routerLinkActive="active">Homepage</a></li>
            <li><a [routerLink]="['/', Urls.pages]" routerLinkActive="active">Pages</a></li>
            <li><a [routerLink]="['/', Urls.headerCustomization]" routerLinkActive="active">Header</a></li>
            <li><a [routerLink]="['/', Urls.footerCustomization]" routerLinkActive="active">Footer</a></li>
            <li><a [routerLink]="['/', Urls.navigations]" routerLinkActive="active">Navigation</a></li>
            <li><a [routerLink]="['/', Urls.filters]" routerLinkActive="active">Filters</a></li>
        </ul>
    </nav>
</div>

<div class="sidenav-drawer" [class.show]="sideDrawer === 'discount'" (click)="stopPropagation($event)">
    <h4 class="sidenav-title">Discounts</h4>
    <nav>
        <ul>
            <li><a [routerLink]="['/' + Urls.discounts]" routerLinkActive="active">Discounts</a></li>
            <li><a [routerLink]="['/', Urls.coupons]" routerLinkActive="active">Coupons</a></li>

        </ul>
    </nav>

</div>