<div id="side-nav">
    <nav>
        <ul>
            <li><a routerLink="/dashboard"><span class="link-icon" [inlineSVG]="'/assets/img/HomeIcon.svg'"></span>Home</a></li>
            <li><a routerLink="/dashboard"><span class="link-icon" [inlineSVG]="'/assets/img/HomeIcon.svg'"></span>Customization</a></li>
            <li><a routerLink="/dashboard"><span class="link-icon" [inlineSVG]="'/assets/img/HomeIcon.svg'"></span>Products</a></li>
            <li><a routerLink="/dashboard"><span class="link-icon" [inlineSVG]="'/assets/img/HomeIcon.svg'"></span>Orders</a></li>
            <li><a routerLink="/dashboard"><span class="link-icon" [inlineSVG]="'/assets/img/HomeIcon.svg'"></span>Customers</a></li>
            <li><a routerLink="/dashboard"><span class="link-icon" [inlineSVG]="'/assets/img/HomeIcon.svg'"></span>Discounts</a></li>
        </ul>
    </nav>
</div>